<!--{% extends 'base.html' %}-->
<!--{% block title %}Insult Detection | {% endblock %}-->

<!--{% block breadcrumb %}{{ super() }}-->
<!--<a class="breadcrumb-item" href="{{ url_for('iiitd') }}">IIIT Delhi</a>-->
<!--<a class="breadcrumb-item" href="{{ url_for('ir') }}">NLP</a>-->
<!--<span class="breadcrumb-item active">Insult Detection</span>-->
<!--{% endblock %}-->

<!--{% block body %}-->
<!--<h4 class="display-4 mt-4">Insult Detection</h4>-->
<!--<hr />-->
<!--<div class="row justify-content-center">-->
<!--<form class="col-sm-8" method="POST">-->
<!--<div class="mt-3 form-group">-->
<!--<div class="form-group">-->
<!--<label for="string">Sentence</label>-->
<!--<input type="text" class="form-control" id="string" name="name" placeholder="Enter sentence to tag" />-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary">Classify</button>-->
<!--</div>-->
<!--</form>	-->
<!--</div>-->
<!--<br />-->
<!--{% if context %}-->
<!--<hr class="mt-1" />-->
<!--<div class="row justify-content-center">-->
<!--<div class="col-sm-auto">-->
<!--{% if not context.error %}-->
<!--<div class="list-group">-->
<!--<div class="list-group-item">-->
<!--<h4 class="list-group-item-heading">{{ context.res }}</h4>-->
<!--<p class="list-group-item-text">{{ context.text }}</p>-->
<!--</div>-->
<!--</div>-->
<!--{% else %}-->
<!--<p class="warning">{{ context.error }}</p>-->
<!--{% endif %}-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->

<!--{% endblock %}-->